@import "tailwindcss";

@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(195, 40%, 8%);
  color: white;
}

@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.typewriter {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  animation: typing 2.5s steps(20, end), blink .75s step-end infinite;
  width: fit-content;
  margin: 0 auto;
}

@keyframes move-horizontal {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }
}

.animate-move-horizontal {
  animation: move-horizontal 6s ease-in-out infinite;
}

@keyframes move-vertical {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50px);
  }
}

.animate-move-vertical {
  animation: move-vertical 6s ease-in-out infinite;
}

@keyframes move-diagonal {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(50px, 50px);
  }
}